* {
    margin: 0;
    padding: 0;;
}

html, body {
    height: 100%;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

input.texto[type="text"]{
    background-color: brown;
}

input[type="submit"]{
    background-color: chartreuse;
}

/*
UM VALOR ESPECÍFICO

a[href="http://www.google.com"]{
    background-color: yellow;
}

[href="http://www.google.com"]{
    background-color: red;
}

SE TIVER UMA CORRESPONDÊNCIA

a[href*="googl"], a[href*="danki"]{
    background-color: blue;
}

UMA PALAVRA ENTRE OUTRAS QUE ESTÃO SEPARADAS POR ESPAÇO

a[attr~="google"]{
    background-color: blue;
}

SE INICIAR COM O VALOR E SE FOR SEPARADO POR HIFEN

a[attr|="google"]{
    background-color: blue;
}

COMEÇA COM UMA PARTE DA PALAVRA

a[attr^="go"]{
    background-color: blue;
}

TERMINA COM A PALAVRA

a[attr$="yahoo"]{
    background-color: blue;
}
*/



