* {
    margin: 0;
    padding: 0;;
}

/* IMPORTAÇÃO POR DIRETÓRIO */

@font-face {
    font-family: "Minha Fonte";
    src: url('../fonts/MochiyPopPOne-Regular.ttf');
}   

html, body {
    height: 100%;
    font-family: "Minha Fonte";
}

/*

">" Significa diretamente dentro
Sem ">" significa todos os que estiverem dentro (inclusive as filhas das filhas)

*/

/* PEGUE TODOS OS ELEMENTOS DO FORM */

form  * {
    font-family: "Minha Fonte";
}

.box p{ 
    font-family: "Minha Fonte" !important;
}

/* UTILIZANDO !IMPORTANT */

p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}