.menu-principal{
  width: 100%;
  height: 400px;
  background-color: red;
}

.menu-principal .icon {
  display: none;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .menu-principal a {display: none;}
  .menu-principal a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menu-principal.responsive a {
    display: block;
  }
}  